* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.profile-page {
  width: 100%;
  height: 80vh;
  display: flex;
}

#app {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

#profile {
  width: 30%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #202020;
  justify-content: center;
  align-items: center;
}

.edit-profile {
  width: 70%;
  height: 80vh;
}

.edit-profile-button {
  -moz-appearance: none;
-webkit-appearance: none;
  background-color: white;
  width: 150px;
  height: 30px;
  border: none;
  color: #202020;
  font-family: inherit;
  margin-bottom: 20px;
}

.edit-profile-button:hover {
  background-color: tomato;
}

.profile-uploader {
  display: flex;
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  }

.upload-button {
  -webkit-appearance : none;
  height: 20px;
  color: white;
  width: 50px;
  border: none;
  background-color: #193845;

}

select {
  -webkit-appearance : none;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 18px;
}

select:hover{
  background-color: tomato;
  color: white;
}

.inputfile {
     width: 200px;
     height: 20px;
     opacity: 0;
     overflow: hidden;
     position: absolute;
  }

.inputfile + label {
     text-align: center;
     height: 20px;
     width: 100%;
     font-size: 12px;
     color: 282828;
     margin-bottom: 10px;
     background-color: white;
     display: inline-block;
  }

.inputfile:focus + label,
.inputfile + label:hover {
     background-color: tomato;
  }

  .inputfile + label {
     cursor: pointer;
  }

  .inputfile:focus + label {
     outline: 1px dotted #000;
     outline: -webkit-focus-ring-color auto 5px;
  }

  .inputfile + label * {
     pointer-events: none;
  }
}

.profilepic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 100%;
}

.user-information {
  background-color: #202020;
  width: 300px;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.registration-div{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-div{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  width: 100%;
  height: 10%;
}

.input-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
}

::placeholder{
  color: white;
}

.all-inputs {
    -webkit-appearance: none;
    outline: 0;
    height: 40px;
    text-transform: none;
    font-size: 18px;
    background-color: #193845;
    border: 1px #e9e9e7 solid;
    width: 100%;
    caret-color: #ffffff;
    margin-bottom: 10px;
    color: white;
    margin-bottom: 15px;
    }

    .all-inputs:hover{
      background-color: tomato;
    }

.check-box {

}
.profile-profilepic {
  border-radius: 10px;
  width: 300px;
  height: 300px;
}

body {
width: 100%;
height: 100%;
  }

label {
  background-color: lightyellow;
  color: black;
}

#welcome-page {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.logo-image-container-app {
  height: 15vh;
  width: 50vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #193845;
}

.logo-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
background-color: black;
width: 50%;
height: 100%;
}

.welcome-trasparent {
  position: absolute;
  z-index: 100;
  width: 50%;
  height: 100%;
  background-color: rgb(255,255,255,0.3);
}

.logo-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
width: 50%;
height: 50%;
}

.logo-image-welcome-app {
  width: 60px;
  height: 60px;
  animation: turning 2s 0s forwards;
  transform: rotate(15deg);
  margin-left: 20px;
}

.logo-image-welcome-app:hover {
  animation: turning 1s infinite;
  margin-left: 20px;
}

.logo-image-welcome {
  width: 60%;
  height: 60%;
}

.todo-text {
color: white;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  width: 80vw;
  min-height: 100vh;
  /* height: 100vh; */
}

.welcome-page-routs {
width: 50%;
}

.registration-div, .login-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  width: 100%;
  height: 100%;
}

.project-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  width: 100%;
  height: 100%;
}

.registration-form, .login-form{
  display: flex;
  flex-direction: column;
width: 70%;
height: 45%;
}

.project-form{
  display: flex;
  flex-direction: column;
width: 70%;
height: 50%;
}

.task-form {
  display: flex;
  flex-direction: row;
width: 80%;
height: 100%;
}

.user-projects-div{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
height: 80vh;
overflow-y: auto;
}

.project-tasks-text{
  margin-top: 20px;
}

a{
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

a:hover{
  color: tomato;
}

.welcome-nav {
  height: 15vh;
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  align-items:center;
  color:white;
  background-color: #193845;

}

.header {
  display: flex;
}

@keyframes turning {
  to {
  transform: rotate(375deg);
}}

.logo-image-welcome:hover{
animation: turning 1s infinite;
margin-left: 20px;
}

.logo-text {
color: white;
margin-left: -3%;
z-index: 10;
}

.footer {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    background-color: #193845;
    width: 100%;
    height: 5vh;
    font-weight: 600;
}

#logo-component {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
}

.main-content {
min-height: 80vh;
  background-color: lightblue;
}

.nav-links-div {
  margin-left: 150px;
  margin-top: 30px;
  height: 100%;
}

.nav-links {
font-size: 20px;
margin-right: 15px;
color: white;
background-color: lightblue;
}

.ads-div {
  display: flex;
  justify-content: space-around;
  align-items:flex-start;
  flex-wrap: wrap;
  width: 80vw;
  height: auto;
}

.project {
  display: flex;
  width: 39vw;
  height: 35vh;
  padding: 10px;
}

.no-projects-found {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bolder;
}

.project-info {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  background-color: #202020;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
}

.project-title {
width: 80%;
}

.project-description {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-created-at {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 10px;
}
